* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#ceyalogomain{
  height: 65px;
  width: 65px;
  position:absolute;
  top:0;
  left:0;
  transform: translate(120%, 28%);
}
