/* Background Colour for nav-bar */
.NavbarItems{
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color:#fff;
    justify-self: start;
    margin-left:20px;
    cursor:pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

/* website mode nav menu */
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px; 
    list-style:none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color:#878787;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: #e3e3e3;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: #000;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display:none;
}

@media screen and (max-width: 960px){
    .NavbarItems{
        position:relative;
    }

    /* mobile nav menu */
    .nav-menu{
            display:flex;
            flex-direction: column;
            width:100%;
            height:550px;
            position:absolute;
            top: 80px;
            left:-100%;
            opacity: 1;
            transition: all 0.5s ease;
    }

.nav-menu.active{
    background-color:#fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.nav-links{
    text-align:center;
    padding:2rem;
    width:100%;
    display:table;
}

.nav-links:hover{
    background-color: #e3e3e3;
    border-radius: 0;

}

/* .navbar-logo{
    position:absolute;
    top:0;
    left:0;
    transform: translate(25%, 50%);
} */

/* Position the buger icon */
.menu-icon{
    display:block;
    position:absolute;
    right:0;
    top:0;
    transform:translate(-140%,60%);
    font-size: 1.8rem;
    cursor:pointer;
}

.fa-times{
    color:#000;
    font-size: 2rem;
}

.nav-links-mobile{
    display:block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background-color: #2F303A;
    text-decoration: none;
    color: #fff;
    font-size:1.5rem;
}

nav-links-mobile:hover{
    background:#fff;
    color:#000;
    transition:250ms;
}

Button {
    display: none;
}

}



